.body {
    background-color: #EADFD5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    width: 100%;
}

.card {
    background-color: #AAB0C0;
    border: 2px solid #7C8499;
    padding: 50px;
    border-radius: 3px;
    min-width: 300px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}